/* index.html */

body {
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    background-color: #313244;
    color: #cdd6f4;
    text-align: center;
    align-content: center;
}

a {
    color: #89b4fa;
}

.indexList {
    list-style-type: none;
    font-size: 20px;
}

img {
    border-radius: 15px;
}

li {
    margin-bottom: 10px;
}

h1 {
    font-size: 48px;
    background-color: #45475a;
}

h2 {
    text-align: left;
    padding-left: 20px;
}

h3 {
    width: 800px;
    padding-bottom: 15px;
    border-bottom: 2px solid #cdd6f4;
}

.Description  {
    text-align: left;
    padding-left: 20px;
}

.DescriptionContent {
    text-align: left;
    padding-left: 40px;
}

.Ingredients li {
    list-style-type: none;
    text-align: left;
}

.Instructions {
    list-style-type: none;
    text-align: left;
    padding-left: 40px;
}